.container {
  background-color: hsl(218, 23%, 16%);
  padding: 32px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
}

.quoteBox {
  color: hsl(193, 38%, 86%);
  background-color: hsl(217, 19%, 24%);
  padding: 32px;
  padding-top: 48px;
  padding-bottom: 72px;
  border-radius: 16px;
  text-align: center;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  position: relative;
}

.subHeading {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  letter-spacing: 4px;
  font-size: 14px;
  margin: 0;
  margin-bottom: -4px;
}

.quote {
  font-size: 28px;
  margin: 0;
}

.button {
  width: 64px;
  height: 64px;
  padding: 18px;
  border-radius: 100%;
  border: 0;
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  bottom: -32px;
}

.button:hover {
  box-shadow: 0px 0px 10px 5px hsla(150, 100%, 66%, 0.45);
}

@media (max-width: 600px) {
  .container {
    padding: 16px;
  }
  
  .quoteBox {
    padding-left: 16px;
    padding-right: 16px;
  }
}