.container {
  background-color: hsl(218, 23%, 16%);
  padding: 32px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
}

.quoteBox {
  color: hsl(193, 38%, 86%);
  background-color: hsl(217, 19%, 24%);
  padding: 48px;
  border-radius: 16px;
  text-align: center;
  max-width: 540px;
}

.subHeading {
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  letter-spacing: 3px;
  font-size: 14px;
}